# Raw data exploration

Let's explore the [raw data](./data/raw/)

In [1]:
import pandas as pd
from pathlib import Path

DATA=Path("data/raw")

datasets = [pd.read_csv(f) for f in filter(lambda x: x.suffix == ".csv", DATA.iterdir())]
raw_columns = [set(f.columns) for f in datasets]

try:
    assert all(raw_columns[0] == c for c in raw_columns)
except AssertionError as e:
    print("Not all datasets have the same columns")

Not all datasets have the same columns

Check that the needed columns are in all the datasets

In [2]:
columns = [
    "Date",
    "HomeTeam",
    "AwayTeam",
    "FTR", # Full Time Result
    "B365H" , # Bet365 home win odds
    "B365D" , # Bet365 draw odds
    "B365A" , # Bet365 away win odds
]

assert all([set(columns).issubset(x) for x in raw_columns])

In [3]:
datasets = [f[columns] for f in datasets]
datasets[0].head()

         Date    HomeTeam  AwayTeam FTR  B365H  B365D  B365A
0  19/09/2020  Fiorentina    Torino   H   1.83   3.75   4.20
1  19/09/2020      Verona      Roma   D   3.75   3.50   1.95
2  20/09/2020       Parma    Napoli   A   5.25   4.20   1.61
3  20/09/2020       Genoa   Crotone   H   1.90   3.60   4.00
4  20/09/2020    Sassuolo  Cagliari   D   1.95   3.75   3.75

The dataset is already clean. In [CleanDatasetCreation.ipynb](./CleanDatasetCreation.ipynb) we'll create the datasets needed for the monte carlo simulation by extracting only the wanted columns and the leaderboards.